<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>146340825006-s8ja6h0nb4lucdl541otjn6f5nsmglnu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.146340825006-s8ja6h0nb4lucdl541otjn6f5nsmglnu</string>
	<key>API_KEY</key>
	<string>AIzaSyBAbCi56W52BIwwvudKtLuWwUxIJcS31DU</string>
	<key>GCM_SENDER_ID</key>
	<string>146340825006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rodrigorcs.laveiapp</string>
	<key>PROJECT_ID</key>
	<string>lavei-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>lavei-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:146340825006:ios:ad63fd2c8efe955fefea3f</string>
</dict>
</plist>